<ion-header>
  <ion-toolbar>
    <ion-title>Usuario: {{messageData.Name}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content padding id="container">
  <ion-card *ngFor="let messageData of messageList" >
    <ion-card-header>
      {{messageData.Name}} dice: 
    </ion-card-header>
    <ion-card-content>
      {{messageData.Message}}
      <ion-icon name="arrow-redo-outline"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer id="final-scroll">
  <ion-toolbar>
    <ion-input placeholder="Mensaje..."  [(ngModel)]="messageData.Message"></ion-input>
    <ion-buttons slot="end" >
      <ion-button (click)="CreateRecord()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="secondary" (click)="logout()">
    <ion-title>Cerrar Sesión</ion-title>
  </ion-toolbar>
</ion-footer>
